{% extends "layout.html" %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
<section id="about" class="fade-in">
    <div class="about-section">
        <div class="mission">
    <h1 class="page-title">Sobre Nosotros</h1>
    <p>Somos estudiantes del programa de Ingeniería en Software del Tecnológico de Antioquia, comprometidos con el uso de la tecnología para transformar el ámbito de la salud.</p>

    <p>Este proyecto surge como una iniciativa académica en la que aplicamos nuestros conocimientos en inteligencia artificial, programación y ciencia de datos para contribuir al diagnóstico temprano del Alzheimer.</p>

    <p>Con NeuroTrack, buscamos demostrar cómo la colaboración entre la educación, la ciencia y la tecnología puede dar origen a soluciones innovadoras que impacten positivamente en la calidad de vida de los pacientes y en el trabajo de los profesionales de la salud.</p>
</div>


        <h2 class="page-title">Nuestro Equipo</h2>
        
        <div class="team">
            <div class="team-member fade-in">
                <div class="avatar"><i class="fas fa-user-md"></i></div>
                <h3>Daniel Viloria</h3>
                <span class="role">Estudiante de ingenieria en software</span>
                <p>Manejo de datos, modelos de prediccion, python, SQL, Flask, modelos MVC, java, js y mas</p>
            </div>
              <div class="team">
            <div class="team-member fade-in">
                <div class="avatar"><i class="fas fa-user-md"></i></div>
                <h3>Emmanuel Quintero</h3>
                <span class="role">Estudiante de ingenieria en software</span>
                <p>Manejo de datos, modelos de prediccion, python, SQL, Flask, modelos MVC, java, js y mas</p>
            </div>

            
        </div>

        <div class="technology fade-in delayed-3">
            <h2 class="page-title">Tecnología</h2>
            <p>Nuestra plataforma utiliza procesacion de datos y presicion de estos con modelo CNN</p>
            
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="fab fa-python"></i>
                    <p>Python</p>
                </div>
                <div class="tech-icon">
                    <i class="fas fa-network-wired"></i>
                    <p>TensorFlow</p>
                </div>
                <div class="tech-icon">
                    <i class="fas fa-project-diagram"></i>
                    <p>Keras</p>
                </div>
                <div class="tech-icon">
                    <i class="fas fa-flask"></i>
                    <p>Flask</p>
                </div>
                <div class="tech-icon">
                    <i class="fas fa-database"></i>
                    <p>Dataset de Kaggle</p>
                </div>
            </div>
        </div>
        
        <div class="collaboration fade-in delayed-4">
            <h2 class="page-title">Colaboración</h2>
            <p>Estamos abiertos a colaboraciones con instituciones médicas y de investigación. Si estás interesado en implementar nuestra tecnología o colaborar en proyectos de investigación, contáctanos.</p>
            
            <div class="contact-info">
                <p><i class="fas fa-envelope"></i> daniel115valdez@gmail.com</p>
                <p><i class="fas fa-phone"></i> +57 3186456619</p>
                <p><i class="fas fa-map-marker-alt"></i> Tecnologica de Antioquia</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}